@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-primario:#000000;
    --color-secundario:#ffffff;
    --color-terciario: #0A3871;
    --color-titulo:#343A40;
    --color-parrafo:#495057;
    --color-botonOff:#D8DFE8;
    --color-texarea:rgb(248, 218, 236);
    --color-texPeque: antiquewhite;
    --color-advertencia:hsl(69, 90%, 50%);

    --fuente-Inter:"Inter", sans-serif;
}

*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: var(--color-secundario);
    color:var(--color-primario);
    height: 100vh;
    box-sizing: border-box;

}
.pantalla__main{
    display: flex;
    align-items: center; 
    justify-content: space-between;   
    margin: 0%;
       
    gap: 80%;
}
.escritorio__seccion{
    display: flex;
    flex-direction: column;
    /*background-color:#a6b0d4; */
    background-image: url("img/bestias-de-la-edad-de-hielo-4.jpg");
    width:1440px; 
    height:1024px;

}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.logo{
    width: 120px;
    height: 48px;    
    margin-left: 40px;  
    margin-top: 40px;

}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.seccion_rectangulo{
    display: flex;
    flex-direction: column;
   
}
.rectangulo{
   background-color:  var(--color-texarea);
    width:400px;
    height:944px;
    border-radius: 32px;  
    gap: 80px;
    margin-left: 1000px;  
    margin-top: -40px;  

}
.rec_peque{
    color: var(--color-texPeque);
    width:336px;
    height:781px;
    margin-left: 1032px;  
    margin-top: -908px; 
    font-size: 24px;
    font-weight: 400; 
    font-family:var(--fuente-Inter);
    background-color:var(--color-secundario);
    color: var(--color-primario); 
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.muneco{
    width: 336px;
    height: 304px;
    margin-left: 1032px;  
    margin-top: -715px;/*115*/
       
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.mensaje{
    width: 336px;
    height: 122px;  
    gap: 16px;
    text-align: center;
    margin-left: 1032px;  
    margin-top: 32px;/*32*/
     
}

.mensajeTitulo{
    font-size: 24px;
    font-family: var(--fuente-Inter);
    font-weight: 500;
    color: var(--color-titulo); 
     
}
.mensajeParrafo{
    font-size: 16px;
    font-family: var(--fuente-Inter);
    font-weight: 400;
    color: var(--color-parrafo);
   
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.textoIngresado{
    width: 577px;
    height: 48px;
    font-size: 32px;
    font-weight: 300; 
    font-family: var(--fuente-Inter);
    background-color:var(--color-secundario);
    color:var(--color-primario); 
    margin-left: 240px;  
    margin-top: -580px;/*520*/
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.textoIngresadoAbout{
    width: 680px;
    height: 288px;
    font-size: 32px;
    font-weight: 400; 
    font-family: var(--fuente-Inter);
    background-color:var(--color-secundario);
    color: var(--color-primario); 
    margin-left: 240px;  
    margin-top: -700px;/*-580*/
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.advertencia{
    display: inline-block;
    width: 229px;
    height: 18px;
    align-items: stretch;
    margin-left: 240px;
    margin-top:640px ;/*71px  596*/

}
.advertencia_about{
    display: inline-block;
    width: 229px;
    height: 18px;
    align-items: stretch;
    margin-left: 240px;
    margin-top:389px ;/*71px 389*/
}

.advertenciaImg{
    display: inline-block;
    width: 16px;
    height: 16px;

}
.advertenciaTex{
    display: inline-block;
    font-size: 12px;   
    font-weight: 400;
    font-family: var(--fuente-Inter);
    color: var(--color-advertencia);
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.botonesEncri{
    display: flex;
    justify-content: space-between;
    width: 680px;
    height: 67px;
    margin-left: 240px;
    margin-top: 25px;
}
.botonAccionOn{
    width: 328px;
    border-radius: 24px; 
    gap: 24px;
    text-align: center; 
    background-color:var(--color-terciario) ;
    color: var(--color-secundario);
    font-size: 16px;
    font-family: var(--fuente-Inter);
    font-weight: 300;
    padding: 23.5px 0;
}
.botonAccionOff{
    width: 328px;
    border-radius: 24px; 
    text-align: center;
    gap: 16px; 
    background-color:var(--color-botonOff) ;
    color:var(--color-terciario);
    font-size: 16px;
    font-family: var(--fuente-Inter);
    font-weight: 300;
    padding: 23.5px 0;
}

.botonAccionCopi{

    width: 336; 
    height: 67;
    margin-left: 1000px;
    margin-top: -67px; 
    padding: 24.5px 0px;
    text-align: center;
    font-size: 16px;
    font-family: var(--fuente-Inter);
    font-weight: 300;
    border-radius: 24px; 
   
    background-color:var(--color-terciario);
    color:var(--color-secundario);
}
